.page {
  margin-top: calc(var(--spacing) * 4);
}

.navbar {
  display: flex;
  justify-content: center;

  padding: calc(var(--spacing) * 2) 0;
  width: 100%; 
}

.navbar-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 900px;
}

.navbar-title {
  display: flex;
  flex-direction: row;

  align-items: center;

  font-size: 1.5rem;

  font-weight: bold;
}

.navbar-title a {
  color: var(--text);
  font-size: 2rem;
  margin-right: calc(var(--spacing) * 2);
}

.navbar-title a:hover {
  color: var(--link);
}


.panel {
  position: fixed;
  right: 0;

  background: var(--ground);
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  width: 100%;
  max-width: 400px;
  height: 100%;
  
  /* Using translate so it uses GPU to render */
  transform: translateX(400px);
  z-index: 100;
  
  filter: var(--shadow);
  
  padding: calc(var(--spacing) * 5);

  transition: transform 250ms cubic-bezier(0.65, 0.05, 0.36, 1);
}

.panel.panel-opened {
  transform: translateX(0);
}

.panel .logo svg {
  margin-bottom: calc(var(--spacing) * 7);
  color: var(--primary);
  filter: var(--glow-primary);
}

.panel .btn.btn-close {
  position: absolute;

  top: calc(var(--spacing) * 3);
  right: calc(var(--spacing) * 3);
}


.user-profile {
  position: relative;
}

.user-profile button {
  background-color: var(--attic);
  padding: var(--spacing);
  border-radius: 25px;
}

.user-profile button:hover {
  background-color: var(--attic-hover);
  filter: var(--shadow);
}

.user-profile button > svg {
  margin-left: calc(var(--spacing) * 2.5);
  margin-right: calc(var(--spacing) * 1.5);
}

.user-menu-popover {
  z-index: 100;
  top: calc(100% + var(--spacing));
  right: 0;
  width: 220px;

  position: absolute;
  background: var(--attic);
  filter: drop-shadow(0 0 8px var(--shadow));
  border-radius: 16px;
  
  text-align: left;
  padding: calc(var(--spacing) * 1.5);
}

.user-menu-popover ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-menu-popover ul li a:hover {
  background: var(--action-hover);
}

.user-menu-popover ul li>a {
  display: block;

  color: var(--text);
  padding: var(--spacing);

  border-radius: 8px;
}

.user-menu-popover ul li>a svg {
  margin-right: calc(var(--spacing) * 1.5);
}

.user-menu-popover ul li.section-header {
  cursor: initial;

  font-size: 12px;
  padding-top: calc(var(--spacing) * 2);
  padding-bottom: calc(var(--spacing) * 1);
  color: var(--text-subtitle);

  margin-left: calc(var(--spacing) * 0.5);
}

.user-login-register button {
  margin: 0 calc(var(--spacing) * 0.5);
}