.navbar {
  display: flex;
  justify-content: center;

  padding: calc(var(--spacing) * 2) 0;
  width: 100%;
  height: 50px;
}

.navbar-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: var(--content-width);
}

.navbar-content > * {
  margin: 0;
  padding: 0;
}

.navbar-title {
  display: flex;
  flex-direction: row;

  align-items: center;

  font-size: 1.5rem;

  font-weight: bold;
}

.navbar-title a {
  color: var(--text);
  font-size: 2rem;
  margin-right: calc(var(--spacing) * 2);
}

.navbar-title a:hover {
  color: var(--link);
}


.panel {
  position: fixed;

  right: -2px;

  background: var(--ground);

  display: flex;
  align-items: center;

  width: calc(2 * var(--content-width) / 3);
  height: 100%;

  z-index: 100;
}

.panel .visible {
  right: 0;
}



.user-profile {
  position: relative;
}

.user-profile button {
  background-color: var(--attic);
  padding: var(--spacing);
  border-radius: 25px;
}

.user-profile button:hover {
  background-color: var(--attic-hover);
  filter: var(--shadow);
}

.user-profile img {
  width: 25px;
  height: 25px;
  border-radius: 100%;

  margin-right: calc(var(--spacing) * 1.5);
}

.user-profile button > svg {
  margin-left: calc(var(--spacing) * 2.5);
  margin-right: calc(var(--spacing) * 1.5);
}

.user-panel-popup {
  top: calc(100% + var(--spacing));
  right: 0;
  min-width: 150px;

  position: absolute;
  background: var(--attic);
  filter: drop-shadow(0 0 8px var(--shadow));
  border-radius: 16px;
  
  text-align: left;
  padding: calc(var(--spacing) * 1.5);
}

.user-panel-popup ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-panel-popup ul li a:hover {
  background: var(--action-hover);
}

.user-panel-popup ul li>a {
  display: block;

  color: var(--text);
  padding: var(--spacing);

  border-radius: 8px;
}

.user-panel-popup ul li>a svg {
  margin-right: calc(var(--spacing) * 1.5);
}

.user-panel-popup ul li.section-header {
  cursor: initial;

  font-size: 12px;
  padding-top: calc(var(--spacing) * 2);
  padding-bottom: calc(var(--spacing) * 1);
  color: var(--text-subtitle);

  margin-left: calc(var(--spacing) * 0.5);
}

.user-login-register button {
  margin: 0 calc(var(--spacing) * 0.5);
}