.tweet {
  display: flex;
  flex-direction: column;
  position: relative;

  border-radius: 16px;

  padding: calc(var(--spacing) * 3);
  padding-bottom: calc(var(--spacing) * 5);

  margin-top: calc(var(--spacing) * 3);
  margin-bottom: calc(var(--spacing) * 6);

  background: var(--ground);

  border: 1px solid transparent;
}

.tweet:focus {
  border-color: var(--primary);
  filter: var(--glow-primary);
}

.retweet {
  background: var(--attic);
  border-radius: 16px;

  font-size: 1.2rem;

  padding: calc(var(--spacing) * 2);
  padding-bottom: calc(var(--spacing) * 5);

  margin-top: calc(var(--spacing) * 3);
  
  /*
   * Taken from .tweet and made 
   * negative + bottom padding. 
   * So it can overlap 
   */
  margin-bottom: calc(var(--spacing) * -6);

  display: flex;
  align-items: center;
}

.retweet a {
  color: var(--text-subtitle);
  margin-right: 6px; /* not following --spacing guidelines on purpose. This isn't bound by typical spacing */
}

.retweet a:hover {
  color: var(--link-hover);
}

.retweet span {
  color: var(--text-subtitle);
}

.tweet .btn-tweet-menu {
  opacity: 0;
}

.tweet:hover .btn-tweet-menu {
  opacity: 1;
}

.tweet .tweet-info {
  display: flex;
  flex-direction: row;
}

.tweet .tweet-info .user-info {
  display: flex;
  flex-direction: column;

  width: fit-content;

  margin-bottom: calc(var(--spacing) * 2);
}

.tweet .tweet-info .user-info a.user-link {
  color: var(--text);
  font-size: 1.25rem;

  display: inline-block;
  margin-bottom: calc(var(--spacing) * 0.5);
}

.tweet .tweet-info .user-info a.user-link:hover {
  color: var(--link-hover);
}

.tweet .tweet-info .user-info a.tweet-link {
  color: var(--text-subtitle);
  display: inline-block;

  font-size: 0.85rem;
}

.tweet .tweet-info .user-info .tweet-link:hover {
  color: var(--link-hover);
}

.tweet .tweet-content  {
  margin-left: calc(var(--spacing) * 2.5 + 50px);
}

.tweet .tweet-content p {
  font-size: 1.1rem;
  padding-right: calc(var(--spacing) * 5);
  margin-bottom: var(--spacing);
}

.tweet .tweet-content img {
  margin-right: calc(var(--spacing) * 5);
  border-radius: 4px;

  max-width: 400px;
  max-height: 400px;

  width: 100%;
  height: 100%;
}

/** Actions **/

.tweet .tweet-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-right: calc(var(--spacing) * 3);

  margin-top: calc(var(--spacing) * 4);
}

.tweet .tweet-actions .btn-tweet-action {
  margin-right: var(--spacing);
  border: 1px solid transparent;
}

.tweet .tweet-actions .btn-tweet-action.selected {
  color: var(--primary);
  background: #2c2339;
  border-color: var(--primary);
}

.tweet .tweet-actions .btn-tweet-action span {
  margin-left: var(--spacing);
}

.tweet .tweet-reactions .btn-tweet-reaction {
  background: var(--attic);
  border: 1px solid var(--border);
  border-radius: 16px;

  margin-right: var(--spacing);
  padding: var(--spacing);

  font-size: 0.85rem;
  color: var(--text-subtitle);
}

/** Reactions **/
.tweet .tweet-reactions .btn-tweet-reaction:hover:not(:disabled) {
  background: var(--attic-hover);
}

.tweet .tweet-reactions .btn-tweet-reaction:disabled {
  background: var(--ground);
}

.tweet .tweet-reactions .btn-tweet-reaction.selected {
  color: var(--primary);
  background: #2c2339;
  border-color: var(--primary);
}

.tweet:hover .btn-delete-tweet, 
.tweet:focus .btn-delete-tweet {
  opacity: 1;
}

.tweet .btn-delete-tweet {
  opacity: 0;

  position: absolute;

  top: calc(var(--spacing) * 2);
  right: calc(var(--spacing) * 2);
  border: 1px solid var(--border);

  background: transparent;
}

.tweet .btn-delete-tweet:hover {
  color: var(--danger);
  border-color: var(--danger);

  background: transparent;
}

@media only screen and (max-width: 768px) {
  .tweet {
    padding: calc(var(--spacing) * 2);
    padding-bottom: calc(var(--spacing) * 4);

    margin-bottom: calc(var(--spacing) * 5);
  }

  .tweet .tweet-content {
    margin-left: 0;
    margin-top: var(--spacing);
  }

  .tweet .tweet-actions {
    flex-direction: column;
    padding-right: 0;
  }

  .tweet .tweet-actions .btn-tweet-action {
    width: 100%;
    margin-bottom: calc(var(--spacing) * 2);
  }

  .tweet .tweet-actions .tweet-reactions {
    display: flex;
    justify-content: center;
  }
}