:root {
  /* Activate Dark Mode 🌙 */
  color-scheme: dark;

  --spacing: 8px;
  --content-width: 650px;

  --primary: rgb(141, 30, 239);
  --success: rgb(128, 239, 30);
  --warning: rgb(239, 190, 30);
  --danger: rgb(242, 28, 9);
  --info: rgb(64, 59, 222);
  
  --text: #f6f6f8;
  --text-subtitle: #94949c;
  --text-roof: #151516;
  --text-disabled: rgba(255, 255, 255, 0.40);
  --link: #3a32cd;
  --link-hover: #6861f0;

  --border: rgba(255, 255, 255, 0.08);
  --shadow: drop-shadow(0 0 8px rgba(0, 0, 0, 0.16));
  --glow-primary: drop-shadow(0 0 8px rgba(141, 30, 239, 0.50));
  --glow-success: drop-shadow(0 0 8px rgba(128, 239, 30, 0.50));
  --disabled: rgba(255, 255, 255, 0.16);

  /* Levels */
  --basement: hsl(228, 7%, 9%);
  --ground: hsl(231, 7%, 15%);
  --attic: hsl(232, 7%, 20%);
  --roof: hsl(232, 7%, 98%);

  /* Levels w/hover */
  --basement-hover: hsl(232, 7%, 6%);
  --ground-hover: hsl(232, 7%, 6%);
  --attic-hover: hsl(232, 7%, 28%);
  --roof-hover: #ffffff;

  --action-hover: rgba(255, 255, 255, 0.08);
  --action-mask: rgba(0, 0, 0, 0.60);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Source Code Pro', monospace;
}

html {
  overflow-y: scroll;
}

html, body, #root, .app {
  min-height: 100vh;
  width: 100%;

  background: var(--basement);
  color: var(--text);

  font-size: 16px;
}

.content {
  width: 100%;
  max-width: var(--content-width);
}

/* Button reset */
button {
  background: none;
  border: none;
  outline: none;
  color: var(--text);

  font-size: 16px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  padding: 0;
  margin: 0;

  font-variant-numeric: tabular-nums;

  transition: 
    opacity 150ms cubic-bezier(0.65, 0.05, 0.36, 1),
    background-color 150ms cubic-bezier(0.65, 0.05, 0.36, 1),
    color 150ms cubic-bezier(0.65, 0.05, 0.36, 1),
    width 150ms cubic-bezier(0.65, 0.05, 0.36, 1), /* eg. if you retweet and the count goes from 9 -> 10 */
    border-color 150ms cubic-bezier(0.65, 0.05, 0.36, 1);
}

a {
  color: var(--link);
  text-decoration: none;

  transition: color 150ms cubic-bezier(0.65, 0.05, 0.36, 1);
}

a:hover {
  color: var(--link-hover);
}

.btn {
  background: var(--attic);

  border-radius: 10px;
  padding: calc(var(--spacing) * 1.5) calc(var(--spacing) * 2);
}

.btn:disabled {
  background: var(--disabled);
  color: var(--text-disabled);
}

.btn:hover:not(:disabled) {
  background: var(--attic-hover);
  filter: var(--shadow);
}

.btn.btn-light {
  background: var(--roof);
  color: var(--text-roof);
}

.btn.btn-light:hover:not(:disabled) {
  background: var(--roof-hover);
}

.btn:disabled {
  cursor: not-allowed;
  background: var(--disabled);
}

.alert {
  padding: calc(var(--spacing) * 2);

  border: 1px solid transparent;
  border-radius: 8px;
}

.alert h1,
.alert h2,
.alert h3 {
  margin-bottom: var(--spacing);
}

.alert a {
  color: white;
  text-decoration: underline;
}

.alert-compact {
  padding: var(--spacing);
}

.alert-danger {
  border-color: var(--danger);
  background: rgba(242, 28, 9, 0.4);
  color: white;
}

.alert-success {
  border-color: var(--success);
  background: rgba(128, 239, 30, 0.4);
  color: white;
}

.alert-info {
  border-color: var(--info);
  background: rgba(64, 59, 222, 0.4);
  color: white;
}

.what-is-this {
  margin-bottom: calc(var(--spacing) * 6);
}